#find-sounds-page {
    background-color: white;
    margin-top: 50vh;
    height: 100vh;
    width: 100vw;
}

#sound-collection {
    margin-top: -50vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: white;
}