@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

#cart-page {
    background-color: white;
}

#cart-items-container {
    display: flex;
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60vw;
    height: 100vh;
    padding-top: 7.5vh;
    margin-left: 2.5vw;
    margin-right: 0vw;
}

#totals {
    font-family: 'Roboto Mono', monospace;
    background-color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 100vh;
    padding-top: 10vh;
    margin-top: -100vh;
    margin-left: 50vw;
}

#totals p {
    font-size: 2.5vh;
    margin-bottom: 2.5vh;
}

#totals button {
    width: 7.5vw;
    height: 5vh;
    color: white;
    background-color: #012521;
    border-radius: .25vw;
}
