#cart-page {
    background-color: white;
}

#cart-items-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}

#totals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 100vh;
    background-color:white;
    margin-top: -100vh;
}

#totals p {
    font-size: 2.5vh;
    margin-bottom: 2.5vh;
}

#totals button {
    width: 7.5vw;
    height: 5vh;
    color: white;
    background-color: #012521;
    border-radius: .25vw;
}
