#purchased-item-card {
    border-radius: .5vh;
    background-color: white;
    font-family: 'Bebas Neue', cursive;
    margin-top: 5vh;
    box-shadow: .125vw .125vw .25vw  #012521;
    display: flex;
    flex-direction: column;
    height: 25vh;
    width: 40vh;
    min-width: 25vw;
    margin-left: 5vw;
}

#item-name-and-creator {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: -2.5vh;
    margin-left: -3.5vw;
    padding: 5vh;
    width: 10vw;
    color: #012521;
    font-size: 2.5vh;
}

#item-name {
    min-width: 7.5vw;
    margin-left: 15.5vw;
}

#item-contact {
    min-width: 10vw;
    margin-left: 5vw;
}

#item-contact button {
    margin-left: .5vw;
    margin-right: -10vw;
    margin-top: -10vh;
    height: 4vh;
    min-width: 10vw;
    font-size: 1.5vh;
}

#item-category {
    display: flex;
    flex-direction: row;
    width: 10vw;
    min-width: 7.5vw;
    margin-left: .5vw; 
    margin-top: -3vh;
    color: black;
    font-size: 2vh;
}

#item-audio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 4vh;
    margin-left: .25vw;
    min-width: 5vw;
    min-height: 7.5vh;
}

#purchased-item-card button {
    font-family: 'Bebas Neue', cursive;
    border-radius: .5vw;
    font-size: 2vh;
    color: white;
    background-color: #012521;
    opacity: .8;
}

#purchased-item-card button:hover {
    box-shadow: inset 0px 0px 0px 50px rgba(0, 0, 0, 0.6);
}

#purchased-item-card audio:focus {
    outline: none;
}

#item-audio {
    margin-left: 2.5vw;
}

#purchased-item-card audio {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 10vw;
    height: 5vh;
    margin-top: 2.5vh;
}

/* #contact-info {
    background-color: white;
    z-index: 100;
    position: absolute;
    margin-top: -25vh;
    margin-left: 5vw;
    width: 15vw;
    height: 12vh;
    padding-left: .55vw;
    border: .02vw solid black;
}

#contact-info p {
    font-size: 2.5vh;
    margin-top: 1vh;
    margin-bottom: 2.5vh;
} */
