#search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 25vw;
    margin-right: -75vw;
    margin-top: 0vh;
    position: fixed;
    height: 75vh;
    outline: .25vh solid black;
}

#search-filter-container h1 {
    font-size: 2.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#search-filter-container label {
    font-size: 2.5vh;
    margin-right: .5vw;
}

#search-filter-form {
    display: flex;
    flex-direction: column;
}
