#search-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 35vw;
    margin-right: -75vw;
    height: 100vh;
    outline: solid black;
}

#search-filter-container h1 {
    font-size: 2.5vh;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#search-filter-container label {
    font-size: 2.5vh;
    margin-right: .5vw;
}

#search-filter-form {
    display: flex;
    flex-direction: column;
}