#thank-you-container {
    background-color: white;
    margin-top: 10vh;
    margin-left: 40vh;
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#thanks {
    font-size: 15vh;
}