#thank-you-container {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#thanks-gif {
    height: 35vh;
}

#thanks {
    font-size: 15vh;
}

#profile-link {
    color: purple;
    text-decoration: none;
}

#redirect-offer {
    text-shadow: .5px .5px black;
    margin-top: 2.5vh;
    font-size: 2.5vh;
}

