#upload-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#upload-form input {
    color: white;
    display: flex;
}

#upload-submit {
    display: flex;
    justify-content: center;
    background-color: black;
    border-radius: .5vw;
    width: 7.5vw;
    height: 3.5vh;
}