#upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#file-input {
    color: white;
}

#upload-form label {
    margin-top: 2.5vh;
    margin-left: -10vw;
    color: white;
}

#upload-form input {
    display: flex;
    margin-top: 2.5vh;
}

#upload-loading-container {
    margin-top: 2.5vh;
    margin-left: 42.5vw;
}

#upload-loading-gif {
    height: 20vh;
    width: auto;
}

#upload-loading-text-container {
    display: flex;
    flex-direction: row;
}

#upload-loading-text {
    margin-left: 2vw;
    color: white;
    font-size: 2.5vh;
}

#upload-info-form {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    margin-left: 40vw;
    width: 15vw;
}

#upload-info-form label {
    color: white;
    margin-bottom: 1vh;
}

#upload-info-form input {
    margin-bottom: 2vh;
}

#upload-info-form select {
    margin-bottom: 2vh;
}

#price-container {
    display: flex;
    flex-direction: row;
}

#price {
    margin-top: 0vh;
    max-width: 5vw;
}

.upload-submit {
    color: #012521;
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: .5vw;
    width: 7.5vw;
    height: 3.5vh;
    min-width: 10vw;
    margin-left: 2.5vw;
}

#first-submit {
    margin-right: 3.5vw;
}

#upload-more-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    margin-top: 2.5vh;
    margin-left: 37vw;
    height: 10vh;
    width: 20vw;
}

#upload-more-container label {
    color: white;
    font-size: 2.5vh;
}   

#upload-more-container button {
    height: 3vh;
    width: 5vw;
    margin-right: -2vw;
    color: #012521;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: .25vw;
}

#No {
    text-decoration: none;
}

.dot-pulse {
    position: relative;
    margin-top: 1.5vh;
    margin-left: 1.5vw;
    left: -9999px;
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    color: white;
    box-shadow: 9999px 0 0 -5px grey;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
    }

    .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 3px;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    color: white;
    }

    .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px rgb(245, 245, 245);
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
    }

    .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px rgb(245, 245, 245);
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
    }

    @keyframes dotPulseBefore {
        0% {
            box-shadow: 9984px 0 0 -5px rgb(245, 245, 245);
        }
        30% {
            box-shadow: 9984px 0 0 2px rgb(245, 245, 245);
        }
        60%,
        100% {
            box-shadow: 9984px 0 0 -5px rgb(245, 245, 245);
        }
    }

    @keyframes dotPulse {
        0% {
            box-shadow: 9999px 0 0 -5px rgb(245, 245, 245);
        }
        30% {
            box-shadow: 9999px 0 0 2px rgb(245, 245, 245);
        }
        60%,
        100% {
            box-shadow: 9999px 0 0 -5px rgb(245, 245, 245);
        }
    }

    @keyframes dotPulseAfter {
        0% {
            box-shadow: 10014px 0 0 -5px rgb(245, 245, 245);
        }
        30% {
            box-shadow: 10014px 0 0 2px rgb(245, 245, 245);
        }
        60%,
        100% {
            box-shadow: 10014px 0 0 -5px rgb(245, 245, 245);
        }
    }
