#App {
    height: 100vh;
    width: 100vw;
}

#header {
    z-index: 100;
    height: 10vh;
    width: 90vw;
    display: flex;
    align-items: center;
}

#logo {
    height: 7.5vh;
}

#discover-button {
    margin-left: 2.5vw;
    padding: .5rem;
}

#discover-dropdown {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    /* margin-top: -2.5vh; */
    width: 20vw;
    min-width: 7.5vw;
    border-radius: .5vw;
    background-color: #dad6d6;
    box-shadow: 1vh 1vh 2vh 0vh rgba(0,0,0,0.2);
    z-index: 100;
}

#discover-dropdown a {
    padding: .5rem;
}

#search-bar {
    margin-left: 5vw;
    height: 2.5vh;
    width: 20vw;
}

#main {
    background-color: black;
    height: 100vh;
    width: 100vw;
}
