@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

#App {
    font-family: 'Big Shoulders Display', cursive;
    background-color: #012521;
    height: 100vh;
    width: 100vw;
}

#header {
    background-color: #012521;
    z-index: 100;
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

#logo {
    margin-left: .5vw;
    height: 7.5vh;
}

#discover-button {
    margin-left: 5vw;
    padding: .25rem;
}

#discover-dropdown {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 0vw;
    width: 20vw;
    min-width: 7.5vw;
    border-radius: .5vw;
    background-color: #dad6d6;
    box-shadow: 1vh 1vh 2vh 0vh rgba(0,0,0,0.2);
    z-index: 100;
}

#discover-dropdown a {
    padding: .5rem;
}

#search-bar {
    margin-left: 2.5vw;
    height: 2.5vh;
    width: 20vw;
}

#main {
    height: 100vh;
    width: 100vw;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home  p {
    z-index: 100;
    font-size: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: white;
}

#home button {
    margin-bottom: 2.5vw;
    width: 12.5vw;
    height: 7.5vh;
    border-radius: 10vw;
    font-weight: 500;
    font-size: 2vh;
    background-color: black;
    color: white;
    border: .25vw solid black;
    cursor: pointer
}

#home-background-image {
    height: 80vh;
    transform: rotate(270deg);
    margin-left: -60vw;
    margin-top: -25vh;
}

#alien {
    height: 25vh;
    margin-top: -30vh;
    margin-right: -50vw;
}

#background-image {
    z-index: -100;
    transform: rotate(90deg);
    width: 100vw;
    height: auto;
}

#signup {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #012521;
}

#signup-form {
    z-index: 100;
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 10vh;
    margin-left: 40vw;
}

#signup-background {
    z-index: -100;
    transform: rotate(90deg);
    width: 100vw;
    height: auto;
}

#signup-form label {
    color: white;
    margin-bottom: 1.25vh;
}

#signup-form input {
    margin-bottom: 2.5vh;
}

#sign-up-button {
    margin-left: 5vw;
    width: 10vw;
}

#password-match-error-message {
    margin: 1vw;
    color: red;
}

#signup-link {
    font-size: 2.5vh;
    color: white;
    margin-left: 40vw;
    text-decoration: none;
}

#signin-link {
    font-size: 2.5vh;
    color: white;
    margin-left: 5vw;
    text-decoration: none;
}

#sign-in {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #012521;
}

#sign-in-form {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin-top: 10vh;
    margin-left: 40vw;
}

#sign-in-form label {
    color: white;
    margin-bottom: 1.25vh;
}

#sign-in-form input {
    margin-bottom: 2.5vh;
}

#sign-in-button {
    margin-left: 5vw;
    width: 10vw;
}
